<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Cortest</title>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <style>
        .header {
            padding-bottom: 20px;
            border-bottom: 1px solid #e5e5e5;
        }
        .item p {
            margin: 0;
        }
        .item a {
            color: rgba(109, 109, 109, 0.69);
        }
    </style>
  </head>
  <body>
    <div class="container-fluid">
        <div class="header clearfix">
            <h1 class="text-muted">Cortest</h1>
        </div>
        <div class="col-lg-12">
            <div class="row">
                {% for item in items %}
                <div class="col-sm-6 col-md-4">
                    <div class="caption item">
                        <h4>{{ item.title }}</h4>
                        <p>{{ item.snippet }}</p>
                        <a href="{{ item.link }}">{{ item.link }}</a>
                    </div>
                </div>
                {% else %}
                <div class="col-md-10">
                    <h3>Oopsy, items list is empty... try again later.</h3>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </body>
</html>
